@charset "utf-8";
/* Author: Dendy Lazuardi Cakranenggala */

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#cboxOverlay{background:#121212; border:5px solid #000000; background-image:url(overlay.png); background-repeat:repeat;}
#colorbox{ border:10px solid #000000;  -moz-border-radius: 15px; -webkit-border-radius: 15px;  border-radius: 15px; }
#cboxContent{}
.cboxIframe{background:#eaeaea;  -moz-border-radius: 10px; -webkit-border-radius: 10px;  border-radius: 10px;  }
#cboxError{ }
#cboxLoadedContent{ }
#cboxTitle{position:absolute; bottom:0; left:0; text-align:center; width:100%; font-size:12px; font-weight:normal; color:#fff; background-image:url(../images/transparent-bg.png);}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:0px; margin-top:-32px; background:url(../colorbox/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{position:absolute; top:50%; right:0px; margin-top:-32px; background:url(../colorbox/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxLoadingOverlay{background:#000;}
#cboxLoadingGraphic{background:url(../colorbox/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; top:0px; right:0px; display:block; background: url(../image/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}