.suckertreemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font-size:12px; z-index:2;}

/*Top level list items*/
.suckertreemenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.suckertreemenu ul li a{
display: block;
font-size:11px;
text-decoration: none;
padding: 10px 6px 10px 10px;
color:#000;
}
.suckertreemenu ul li a:hover{
background-image:url(../image/bg-menu.jpg);
background-position:center;
}

/*1st sub level menu*/
.suckertreemenu ul li ul{
left: 0;
position: absolute;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul{ 
top:0;
border-style:none;
margin:0px;
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a{
display: block;
width: 98px; /*width of sub menu levels*/
text-decoration: none;
background-image:url(../image/bg-menu.gif);
background-position:center;
border-right:none;
text-align:left;
padding:10px 10px 10px 11px;
background-position:center;
border-right:1px solid #333333;
border-left:1px solid #333333;
border-bottom:1px solid #333333;
}


.suckertreemenu ul li a:hover{
color:#000000;
background-image:url(../image/bg-menu.jpg);
background-repeat:repeat-x;
}

* html p#iepara{}
	
/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
/* End */
