/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @since 1.0
 */

ul.yiiPager
{
	font-size:11px;
	padding: 0.5em;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
	padding: 0.5em;
	border:none;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #9aafe5;
	font-weight:bold;
	color:#0e509e;
	padding: 0.5em;
	text-decoration:none;
	border:none;
}

ul.yiiPager .page a
{
	padding: 0.5em;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    vertical-align: middle;
	border:none;
	font-size:12px;
}

ul.yiiPager a:hover
{
	
}

ul.yiiPager .selected a
{
	
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    vertical-align: middle;
	border:none;
	font-size:12px;
	padding: 0.5em;
}

ul.yiiPager .hidden a
{
	background: url("../images/bp-press-release-btn-middle.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	border:none;
	font-size:12px;
	color:#aaa;
	padding: 0.5em;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last	
{
	display:none;
}