/* 

Dendy Lazuardi Cakranenggala
Juni
2014

*/

@charset "utf-8";
/* CSS Document */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 11px Tahoma;
list-style-type: none;
border-bottom: 1px solid gray;
background: #6888b9;
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 11px 8px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
color: white;
background:#6888b9;
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background:#204a8a; /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background:#446fb0; /*background of tab with "selected" class assigned to its LI */
}