/* 

Dendy Lazuardi Cakranenggala
Juni
2014

*/

@charset "utf-8";
/* CSS Document */

/* PENGUNJUNG */
#pengunjung{height: 40px;width: 150px;}
#pengunjung span{font-size: 20px;background: #000;padding: 5px;}

/* LINE CHART */
.line-charts{min-width: 310px; height: 400px; *margin: 0 auto;width:564px;}

/* PORTLET */
#portlet{width:auto;}
#portlet .portlet-title{
	position: relative;
	display: block;
	margin-bottom: 0.60em;
	border-bottom: 1px solid #e3e3e3;
	font-weight: 900;
	font-size: 18px;
	color: #444;
}
#portlet .portlet-title u{
	display: inline-block;
	position: relative;
	top: 1px;
	padding-right: 1em;
	padding-bottom: 10px;
	color: #444;
	text-decoration: none;
	border-bottom: 1px solid #6685a4;
}

/* BEBAN PUNCAK */
#beban-puncak{width:100%;text-align:left;}
#beban-puncak label{color:#6D6D6D;}
#beban-puncak .form-control{
	*display: block;
	padding: 6px 10px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	outline: none;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#beban-puncak .btn{
	background-repeat: no-repeat;
	-ms-filter: none;
	filter: none;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}
#beban-puncak .btn-primary{
	color: #ffffff;
	background-color: #d74b4b;
	border-color: #cc2d2d;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	outline: none;
	text-decoration:none;
}
#beban-puncak .btn-primary:hover{
	background-color: #bb2a2a;
	background-position: 0 -15px;
	border-color: #b32828;
	color: #ffffff;
	outline: none;	
}
#beban-puncak .btn-secondary{
	color: #ffffff;
	margin-left:5px;
	background-color: #6685a4;
	border-color: #49627a;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
#beban-puncak .btn-secondary:hover{
	background-color: #4d6781;
	background-position: 0 -15px;
	border-color: #49627a;
	color: #ffffff;
}

/* PAGINATION */
#pagination{width: 100%;margin-bottom: 60px;}
#pagination .col3{width: 30%;float: left;}
#pagination .col3 .showing{font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;margin-top: 7px;}
#pagination .col7{width: 70%;float: left;}
#pagination .col7 .paging{float: none;text-align: right;}
#pagination .col7 .paging ul{
	display: inline-block;
	padding-left: 0;
	*margin: 20px 0;
	border-radius: 4px;
	*padding-right:15px;
}
#pagination .col7 .paging ul li{display: inline-block;margin: -10px 3px;}
#pagination .col7 .paging ul li a{
	position: relative;
	border-radius: 4px;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	*color: #428bca;
	color: #222 !important;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
}
#pagination .col7 .paging ul li a:hover{
	color: #2a6496;
	background-color: #eee;
	border-color: #ddd;
}
#pagination .col7 .paging ul li .disable{
	color: #999 !important;
	background-color: #fff;
	border-color: #ddd;
	cursor: not-allowed;
}
#pagination .col7 .paging ul li .disable:hover{
	color: #999;
	background-color: #fff;
	border-color: #ddd;
	cursor: not-allowed;
}
#pagination .col7 .paging ul li .active{
	z-index: 2;
	color: #fff !important;
	background-color: #d74b4b;
	border-color: #af2727;
	cursor: default;
	background-image: none;
	background-repeat: no-repeat;
	-ms-filter: none;
	filter: none;
}
#pagination .col7 .paging ul li .active:hover{
	z-index: 2;
	color: #fff;
	background-color: #d74b4b;
	border-color: #af2727;
	cursor: default;
	background-image: none;
	background-repeat: no-repeat;
	-ms-filter: none;
	filter: none;
}

/* PEMBEBANAN TRAFO TOP */
#pembebanan-trafo-top{width:100%; border:1px solid #DADADA;margin-top: 50px;height: 150px;border-radius: 6px;background: #FCF4F4;}
#pembebanan-trafo-top .trafo-panel-top{
	width: 267px;
	float: left;
	position: relative;
	padding-right: 15px;
	background: none repeat scroll 0% 0% transparent;
}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top{padding-top:10px; padding-left:15px;}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top label{color:#6D6D6D;}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top select{width: 189px;}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top .form-control{
	*display: block;
	padding: 6px 10px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	outline: none;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;	
}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top .btn{
	background-repeat: no-repeat;
	-ms-filter: none;
	filter: none;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top .btn-primary{
	color: #ffffff;
	background-color: #d74b4b;
	border-color: #cc2d2d;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	outline: none;
}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top .btn-primary:hover{
	background-color: #bb2a2a;
	background-position: 0 -15px;
	border-color: #b32828;
	color: #ffffff;
	outline: none;	
}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top .btn-secondary{
	color: #ffffff;
	margin-left:5px;
	background-color: #6685a4;
	border-color: #49627a;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
#pembebanan-trafo-top .trafo-panel-top .trafo-panel-input-top .btn-secondary:hover{
	background-color: #4d6781;
	background-position: 0 -15px;
	border-color: #49627a;
	color: #ffffff;
}

/* EXPORT */
#export{width: 100%;padding-bottom: 10px;text-align: right;padding-top:20px;}
#export img{padding-right: 5px;}
.export2{width: 100%;padding-bottom: 10px;text-align: right;padding-top:10px;}

/* PEMBEBANAN TRAFO */
#pembebanan-trafo{width:100%;margin-bottom: 10px;}
#pembebanan-trafo table{border-collapse: collapse; width:100%;font-family:'Open Sans', 'Trebuchet MS', arial, sans-serif;}
#pembebanan-trafo table tbody .tr{font-weight: 900;font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;color: #444;height: 40px;}
#pembebanan-trafo table tbody tr th{background-color:#E6E6E6;text-align:center;}
#pembebanan-trafo table tbody tr td{text-align:center;color: #4F5155;}
/* END PEMBEBANAN TRAFO */

/* TGI KHATULISTIWA */
#tgi-khatulistiwa{width:100%;}
#tgi-khatulistiwa ul li{list-style:none;}
#tgi-khatulistiwa ul li a{text-decoration:none;}
#tgi-khatulistiwa ul li a:hover{color:#072552;}
/* END TGI KHATULISTIWA */

/*Bagian content, berisi grafik, berita, dll*/
#allContent{
	width:780px;
	height:auto;
	float:left;
	/*background-color:#FFFFA8;*/
	*background-image:url(../image/left.png);
	background-repeat:repeat-y;
}

/*Bagian untuk pembungkus flash banner*/
#banner{
	width:780px;
	height:163px;
	float:left;
	background-color:#FF6;	
}

#marqueecontainer{
position: relative;
width: 200px; /*marquee width */
height: 200px; /*marquee height */
overflow: hidden;
padding: 2px;
padding-left: 4px;
}


body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:Tahoma;
	*background: rgba(204, 204, 204, 0.32);
}

/*Mengatur tampilan pada bagian kanan(isi utama dari web)*/
.containerKanan{
	width:594px;
	float:left;
	height:auto;
	background-color:#FFF;
	
	
}
.containerKanan a{
	color:#900;
}
	

/*kolom yang berisi berita, di dalamnya akan terbagai lagi menjadi 2 bagian */
.containerKiri{
	width:auto;
	height:auto;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}
.containerKiri img{
	cursor:pointer;	
}

/*Footer dari web*/
#footerWrapper{
	clear:both;
	height:61px;
	background-repeat:repeat-x;
	background-color:#F00;/*merah*/
	width:780px;
	background-image:url(../image/foot2.png);
	padding-top:1px;
}

#footer{
	margin-left:50px;
	margin-bottom:5px;
	margin-top:5px;
	font-size:12px;
	color:#FFF;
	height:auto;
	width:auto;
	margin-right:35px;
	padding-top:0px;
}
	#footer span {
		margin-left:15px;
	}
	
	#footer a {
		color:#FFF;
		font-weight:bold;
		text-decoration:none;
	}
	
	#footer a:hover{
		color:#FF3;
	}

#header{
	height:50px;
	width:780px;
	font-size:12px;
	text-align:left;
	padding-top:1px;
	background-repeat:repeat-x;
	background-image:url(../image/menu/top.png);
	font-family:Tahoma;
}

.socmed{position: absolute;}
.socmed ul{padding: 0;margin: 0;}
.socmed ul li{
	display: inline-block;
	list-style: none;
	background: rgba(0,0,0,0.1);
	margin-left: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 2px 2px 2px 2px;
	border-radius: 50%;
}
.socmed ul li span{color: black;font-size: 20px;padding-top: 5px;padding-right: 0px;}
.ahref{
	float: left !important;
	display: block !important;
	text-decoration: none !important;
	margin: 0px !important;
	padding: 11px 8px !important;
	border-right: none !important;
	color: white !important;
	background: #6888b9 !important;
	margin-right: 2px !important;
}
.ahref:hover{background: #204a8a !important;}

.running-text{
	position: fixed;
	height: 25px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: white;
	shadow: kiri+kanan atas+bawah radial warna;
	box-shadow: 0 -2px 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 -2px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 -2px 15px rgba(0,0,0,0.5);
	-o-box-shadow: 0 10px -2px rgba(0,0,0,0.5);
	-khtml-box-shadow: 0 -2px 15px rgba(0,0,0,0.5);
}

.running-text span{
	color: #203f61;
	font-size: 12px;
	font-weight: bold;
}

#textnya{padding-left: 15px;padding-right: 15px;}
#textnya p{line-height:16px;}
#textnya ul{padding-left: 15px;}
#textnya ul li{line-height:16px;padding-bottom:5px;}

/* Berita dan Pengumuman */
#payper{padding-left: 15px;padding-right: 15px;}
#payper .news{
	color: #828282;
	line-height: 1.4;
	*width: 855px;
	height: 105px;
	position: relative;
	border-bottom: 1px dashed #868686;
	margin-bottom: 20px;
	border-width: 1px;
}
#payper .news .image-default{
	height: 95px;
	background: url(../image/calendar4.png) no-repeat left top;
	float: left;
}
#payper .news .image-default .tahun{
	float: left;
	position: absolute;
	width: 80px;
	padding-top: 12px;
	*font-family: KGP;
	font-weight: bold;
	font-style: normal;
	color: #333;
	font-size: 10px;
	text-align: center;
}
#payper .news .image-default .tanggal{
	float: left;
	width: 80px;
	height: 50px;
	padding-top: 22px;
	*font-family: KGP;
	font-weight: bold;
	font-style: normal;
	color: #333;
	font-size: 35px;
	text-align: center;
}
#payper .news .image-default .bulan{
	float: left;
	width: 80px;
	height: 50px;
	padding-top: 66px;
	*font-family: KGP;
	font-weight: bold;
	font-style: normal;
	color: #fff;
	font-size: 13px;
	text-align: center;
	position: absolute;
}
#payper .news .text-payper{padding-left: 100px;}
#payper .news .text-payper h2{padding: 0px 0px 0px 0px;margin-top: 0px;}
#payper .news .text-payper h2 a{text-decoration: none;}
#payper .news .text-payper h2 a:hover{color: #1C86CC;}
#payper .news .text-payper .subheader {font-weight: 300;padding: 0px 0px;}
.image-satuan{
	width: 155px;
	height: 155px;
	float: left;
	padding: 0px;
	margin: 0px 10px 0px 0px;
}
.justify{text-align: justify;}
/* End Berita dan Pengumuman */

/* Pagination */
.pagerDB {
	font: 9pt/1.5em Arial, Tahoma, Verdana, "Lucida Grande", sans-serif; color: #333;
  	clear: both;
}
.pagerDB a, .pagerDB strong.pagerDB-current {
  	padding: 0.5em;
}
div.pagerDB {clear: both;padding: 25px 20px;margin-top: 25px;margin-bottom: 15px;text-align: center;}
div.pagerDB a {border: 1px solid #ccc; padding: 0.5em; margin: 0 2px; color: #666; font-size:14px;}
div.pagerDB a:hover {border: 1px solid #1C86CC; padding: 0.5em; margin: 0 2px; color: #fff !important; font-size:14px; background-color:#1C86CC; text-decoration:none;}
div.pagerDB strong {border: 1px solid #005C99; padding: 0.5em; font-size:14px; margin: 0 2px; color: #FFFFFF; background-color: #005C99;}
/* End Pagination */

/* Sharepage */
#share{
	height: 20px;
	width: 100%;
	padding: 15px 0px 5px 0px;
	border-top: 1px solid #ccc;
	text-align: center;
}
#share ul{
	margin: 10px 0 0 0px;;
}
#share ul li{
	padding: 0;
	margin: 0px 0px 0px 25px;
	display: inline-block;
	position: relative;
}
#share ul li a{
	*font-family: KGP;
	font-size: 14px;
	line-height: 1em;
	display: block;
	color: #414141;
	text-decoration:none;
}
#share ul li a:hover{
	*font-family: KGP;
	font-size: 14px;
	line-height: 1em;
	display: block;
	color: #414141;
	text-decoration:underline;
}
#share ul li a .print{
	background: url(../image/print.png) no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0px 10px 4px 0px;
	vertical-align: middle;
}
#share ul li a .share1{
	background: url(../image/share.png) no-repeat;
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0px 10px 4px 0px;
	vertical-align: middle;
}
#share ul li a .pdf{
	background: url(../image/pdf2.png) no-repeat;
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0px 10px 4px 0px;
	vertical-align: middle;
}
#share ul li .pop{
	display: none !important;
	position: absolute;
	bottom: 5px;
	left: 0%;
	z-index: 10;
	min-width: 100px;
	margin-left: -5px;
	padding-bottom: 30px;
}
#share ul li:hover .pop{display: block !important;margin: 0px 0px 0px 0px;}
#share ul li .pop .arrow{
	position: absolute;
	width: 0;
	height: 0;
	*bottom: -11px;
	left: 0%;
	z-index: 10;
	border-top: 10px solid #076194;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#share ul li .pop .inner{
	top: -12px;
	left: -10px;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	width: 0;
	height: 0;
	bottom: -11px;
	z-index: 10;
}
#share ul li .pop .flyout{
	background-color: #fff;
	min-width: 37px;
	height: 30px;
	padding: 15px 15px 15px 8px;
	border: 2px solid #076194;
	position: relative;
	*margin-right: 30px;
}
#share ul li .pop .five-item{margin-left: -58px;*width: 165px;}
#share ul li .pop .sharepage{
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 10px;
}
#share ul li .pop .sharepage a i{font-size:35px;color: rgba(11, 119, 190, 0.7);}
#share ul li .pop .sharepage a i:hover{font-size: 35px;color: rgba(13, 87, 136, 0.7);}
/* End Sharepage */

/* Gallery Foto dan Video */
#gallery{padding-left: 15px;padding-right: 15px;}
#gallery .col-3{
	width: 173px;
	float: left;
	position: relative;
	*padding-left: 15px;
	padding-right: 15px;
	padding-bottom:15px;
	background: none;
	min-height: 100px;
}
#gallery .col-3 .box{
	border: 1px solid rgba(0,0,0,0.1);
	height: 160px;
	overflow: hidden;
}
#gallery .col-3 .box img{width: 173px;height:160px;}
#gallery .col-3 .box .title{
	position: absolute;
	bottom: 16px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	padding: 10px 10px;
	width: 151px;
	height: 15px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
#gallery .col-3 .box:hover .title{height: 140px;}
/* End Gallery Foto dan Video */

.judul{
	width:594px;
	height:25px;
	background-image:url(../image/judul.jpg);
	float:left;
	padding-top:8px;
	text-align:center;
	color:#FFF;
	font-weight:400;
	margin-bottom: 10px;
}

.judul h2{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 18px;
}

.judulKiri{
	width:186px;
	height:24px;
	background-image:url(../image/caption.jpg);
	padding-top:9px;
	font-style:normal;
	font-size:13px;
	text-align:left;
	margin-bottom:5px;
}


/*Bagian kiri dari web, berisi news, login form, link, dan counter*/
#leftContent{
	width:186px;
	height:auto;
	background-color:#FADB05;/*ungu*/
	float:left;
	background-color:transparent;
}

	#leftContent a{
		color:#FF9;
		font-size:12px;
	}


/*Untuk bagian login*/
#login{
	width:auto;
	height:auto;
	padding-left:5px;
	margin-bottom:5px;
	padding-right:5px;
}


#menuBrowse{
	float:left;
	width:589px;
	height:26px;
	padding-top:4px;
	padding-left:5px;
	background-repeat:repeat-x;
	background-color:#F99;/*pink*/
	background-image:url(../image/search.png);
	font-size:12px;
	color:#FFF;
}
	#menuBrowse img{
		height:30px;
		margin-top:auto;
		margin-bottom:auto;	
	}
	
/*Mengatur tampilan menu search yang terletak di bawah banner*/
#menuSearch{
	float:left;
	width:180px;
	height:26px;
	padding-top:4px;
	padding-left:6px;
	background-repeat:repeat-x;
	background-color:#36F;/*biru*/
	background-image:url(../image/search.png);
	font-size: 12px;
	color:#FFF;
}

/*Untuk pembungkus berita yang terletak pada bagian kanan*/
.news{
		height:auto;
		width:auto;
		padding-left:15px;
		padding-bottom:10px;
		padding-top:10px;
		padding-right:20px;
		background-color:#FFF;
		text-align:justify;
		font-size:12px;
		clear:left;
		font-family:Tahoma;
}

.bawah30{ margin-bottom:30px !important;}
	
#rightContent{
	float:left;
	width:594px;
	height:auto;
	
/*	background-color:#FFFFA8;*/
}

#rightContent a{
color:#005C99;
/*font-size:11px;*/
}

#topMenu {
	margin-left:10px;
	margin-bottom:5px;
	margin-top:15px;
	font-size:12px;
	color:#FFF;
	height:auto;
	width:auto;
	margin-right:10px;
	padding-top:0px;
}
	#topMenu span {
		margin-left:43px;
	}
	
	#topMenu a {
		color:#FFF;
		font-weight:bold;
		text-decoration:none;
	}
	
	#topMenu a:hover{
		color:#000;
	}


/*Wrapper sebagai pembungkus keseluruhan dari isi web*/
#wrapper{
	width:780px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	margin-top:10px;
	height:auto;
	border:1px solid #5a84c4;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	margin-bottom:40px;
}

	#wrapper #allContent #leftContent {
		font-size: 12px;
		color:#FFF;
	}

/*-----------TAMBAHAN UNTUK PENGATURAN TABLE PADA MENU PQM---------------*/
	.custom_table
	{
		margin-left:auto;
		margin-right:auto;
		border:1px solid #39C;
		border-collapse: collapse;
		
	}
	
	.custom_table th
	{
		background-color:#00487D;
		color:#FFF;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:5px;
		padding-right:5px;
		border:1px solid #39C;	
	}
	
	.custom_table tr
	{
		text-align:center;
		background-color:#FFF;
		border:1px solid #39C;
		
	}
	
	.custom_table tr:hover
	{
		background-color:#DDD;
	}
	
	.custom_table td
	{
		text-align:center;
		padding:5px 10px 5px 10px;
		border:1px solid #39C;
		
		
	}