/**
 * Dendy Lazuardi Cakranenggala
 * 30 April 2014 | 12:41
**/
 
#nvc-consentcookie-container, .nv-sharepricefeed-container, .nv-sitesearch, .nv-header-utils, .nv-topnav, .download,
#page #nv-left-nav, .article-download-summary, .nvc-related-content, .nvc-relatedteaser, .usefultools, #footer, #CQ {
    display: none;
}

.nv-breadcrumb{margin-top:4.7em;}
.nvc-gallery .nvc-gallery-js {box-shadow: none;}

.nvc-texthighlight {filter:none;}

#nv-article-content .has-download-summary {
   width:70em;
   min-height:0;
}

#page .row .nine {
    margin-left:0;
}