/*lock screen
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
*/
body{
  background: #1fb3a3 url(../image/pln2.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:100%;
}
.logo
{
  width:100%;
  position: absolute;
  text-align: center;
  margin-top: -8%;
  color: #FFFFFF;
}
.logo h4
{

  font-family: 'Droid Sans', sans-serif;
  font-size: 30px; 
}
.lock-holder  .dot-left
{
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 17px;
  color:#FFFFFF;
}
.lock-holder  .dot-right
{
  position: absolute;
  margin-left: 165px;
  margin-top: 10px;
  font-size: 17px;
  color:#FFFFFF;
}
.lock-holder
{
  width: 700px;
  margin:25% auto;
  
}
.avatar img 
{
  width: 100px;
  margin:0px auto;
  border:2px solid #FFFFFF;
  border-radius: 50%;
  margin-top: -1%;
  margin-left: 50px;
-webkit-transition: 300ms ease;
     -moz-transition: 300ms ease;
       -o-transition: 300ms ease;
          transition: 300ms ease;
}
.lock-holder .form-group
{
  width: 250px;
}

.lock-holder .form-control {
  display: block;
  
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.submit
{
  margin-top: 2%;
  text-align: center;
}
.submit .fa-spinner
{
  font-size:20px;
  color: white;
}
.submit .progress
{
  width: 200px;
  margin: 0px auto;
}
.submit .btn
{
  background: #7ab4da;
  border: 1px solid #a0cdeb;
  padding:6px 35px;
  font-family:'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}
.lock-holder .input-group-addon
{
  background-color: #ffffff;  
}

 .lock-holder .input-group-addon i
 {
    color:#cfcfcf ;
  }


@media (max-width:900px)
{
  
  .logo
{
  width:100%;
  position: relative;
  text-align: center;
  margin-top:10%;
  margin-bottom: 0px !important;
  color: #FFFFFF;
}
.logo h4
{

  font-family: 'Droid Sans', sans-serif;
  font-size: 20px; 
}
  .lock-holder
  {
    width: 300px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
  }

  .dot-left,.dot-right
  {
    display: none !important; 
  }
  .lock-holder .form-group
  {
    float: none !important;
    width:240px;

  }
  
 .avatar img 
{
  width: 50px;
  border:2px solid #FFFFFF;
  border-radius: 50%;
  margin-left: 45%;
}
  .submit 
  {
    text-align:center;
  }
}
.avatar-top img
{
  margin-top: -40px;
  -webkit-transition: 800ms ease;
     -moz-transition: 800ms ease;
       -o-transition: 800ms ease;
          transition: 800ms ease;
}


/* Progress bar Custom styles
---------------------------------------------------------------------------------------------- */

.progress 
{
  height: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #000000;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: @primary;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress-bar-success {
  background-color: @success;
}

.progress-bar-info {
  background-color: @info;
}

.progress-bar-warning {
  background-color: @warning;
}

.progress-bar-danger {
  background-color: @danger;
}


@media (max-width:500px)
{
  
  body
  {
      background: #23bab5 ;
  }
}