	

    @charset "utf-8";
    /* Author: Dendy Lazuardi Cakranenggala */
     
    /* PANEL */
    #konten-table .row .col12 .panel-side{padding-left:50px;padding-right:50px;margin-bottom:20px;}
    #konten-table .row .col12 .panel{
            padding: 0px;
            *border-top: 1px solid #23bab5;
            -webkit-box-shadow: 0px 0px 2px 0px #A3A3A3;
            -moz-box-shadow: 0px 0px 2px 0px #A3A3A3;
            box-shadow: 0px 0px 2px 0px #A3A3A3;
            border-radius: 0px;
            width:100%;
    }
    #konten-table .row .col12 .panel .panel-heading{
            color: #23bab5 !important;
            background-color: #FCECEC !important;
            border-top: 1px solid #d74b4b;
            border-bottom: 1px solid #E0E0E0;
            font-weight: 900;
            background: none;
            padding: 10px 15px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
    }
    #konten-table .row .col12 .panel .panel-heading .panel-title{
            font-size: 14px;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 0;
            font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
            color: #4F5155;
    }
    #konten-table .row .col12 .panel .panel-body{padding: 15px;background: #E9E9E9 !important;}
     
    /* INPUT */
    #konten-table .row .col12 .panel .panel-body form{padding-left:15px;padding-right:15px;height: 330px;}
    #konten-table .row .col12 .panel .panel-body form .form-group{
            margin-right: -15px;
            margin-left: -15px;
            margin-bottom: 10px;
            width: 100%;
            float: left;
    }
    #konten-table .row .col12 .panel .panel-body form .form-group .col-sm-2{
            width: 16.666666666666664%;
            *float: left;
            font-weight: 600;
            padding-top: 8px;
            *text-align: right;
            padding-right: 15px
    }
    #konten-table .row .col12 .panel .panel-body form .form-group .col-sm-3{
            width: 30.333333%;
            font-weight: 600;
            float: left;
    }
    #konten-table .row .col12 .panel .panel-body form .form-group .col-sm-3 .isinya{
            margin-bottom:10px;
    }
    #konten-table .row .col12 .panel .panel-body form .form-group .col-sm-3 .isinya label{
            float: left;
            padding-top: 8px;
            padding-right: 10px;
    }
    #konten-table .row .col12 .panel .panel-body form .form-group .col-sm-3 .isinya .form-control{
            display: block;
            width: 50%;
            *height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            outline:none;
            vertical-align: middle;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    #konten-table .row .col12 .panel .panel-body form .form-group .col-sm-10{
            width: 80.333333%;
            font-weight: 600;
            *float: left;
    }
    #konten-table .row .col12 .panel .panel-body form .form-group .col-sm-10 .form-control{
            display: block;
            width: 100%;
            *height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            outline:none;
            vertical-align: middle;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    #konten-table .row .col12 form .form-group .checkbox, .radio{
            display: block;
            min-height: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            *padding-left: 20px;
            padding-right: 15px;
            float: left;
    }
    #konten-table .row .col12 form .form-group .checkbox label{font-weight: 600;}
    #konten-table .row .col12 form .form-group .parsley-error-list{
            position: relative;
            top: 0;
            display: inline-block !important;
            padding: 2px 10px;
            margin: 0;
            list-style: none;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            background: #b94a48;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            margin-left: 5px;
    }
    #konten-table .row .col12 form .form-group .parsley-error-list::after{
            content: '';
            display: inline-block;
            *border-right: 6px solid #B94A48;
            *border-top: 6px solid transparent;
            *border-bottom: 6px solid transparent;
            *position: absolute;
            *top: 5px;
            *left: -6px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #B94A48;
            position: absolute;
            top: -6px;
            left: 3px;
    }
     
    /* KONTEN TABLE */
    #konten-table{margin: 15px;padding-bottom: 20px;}
    #konten-table .portlet-title{
            position: relative;
            display: block;
            margin-bottom: 1.35em;
            border-bottom: 1px solid #e3e3e3;
            font-weight: 900;
            font-size:18px;
            color: #444;
    }
    #konten-table .portlet-title u{
            display: inline-block;
            position: relative;
            top: 1px;
            padding-right: 1em;
            padding-bottom: 10px;
            color: #444;
            text-decoration: none;
            border-bottom: 1px solid #6685a4;
    }
    #konten-table .row{margin-left: -15px;margin-right: -15px;padding-bottom:10px;}
    #konten-table .row .col6{width: 50%;float:left;}
    #konten-table .row .col6 .showing{
            font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
            padding-left: 15px;
            margin-top: 13px;
            margin-bottom: 6px;
    }
    #konten-table .row .col6 .tambah{padding-left: 15px;padding-bottom: 10px;}
    #konten-table .row .col6 .search{text-align: right;padding-right:15px;padding-top: 2px;}
    #konten-table .row .col6 .search label{float: none;margin-bottom: 0;font-weight: normal;}
    #konten-table .row .col6 .search label .input-sm{
            height: 30px;
            padding: 0px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
    }
    #konten-table .row .col6 .search label .form-control{
            *display: block;
            *width: 100%;
            *height: 34px;
            *padding: 6px 12px;
            *font-size: 14px;
            *line-height: 1.42857143;
            font-family: 'quicksand regular',verdana,Arial,sans-serif;
            width: 35%;
            outline:none;
            color: #555 !important;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            *border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    #konten-table .row .col6 .pagination{float: none;text-align: right;}
    #konten-table .row .col6 .pagination ul{
            display: inline-block;
            padding-left: 0;
            *margin: 20px 0;
            border-radius: 4px;
            padding-right: 15px;
    }
    #konten-table .row .col6 .pagination ul li{display: inline-block;margin: -10px 3px;}
    #konten-table .row .col6 .pagination ul li a{
            position: relative;
            border-radius: 4px;
            float: left;
            padding: 6px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            *color: #428bca;
            color: #222;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-left: -1px;
    }
    #konten-table .row .col6 .pagination ul li a:hover{
            color: #2a6496;
            background-color: #eee;
            border-color: #ddd;
    }
    #konten-table .row .col6 .pagination ul li .disable{
            color: #999;
            background-color: #fff;
            border-color: #ddd;
            cursor: not-allowed;
    }
    #konten-table .row .col6 .pagination ul li .disable:hover{
            color: #999;
            background-color: #fff;
            border-color: #ddd;
            cursor: not-allowed;
    }
    #konten-table .row .col6 .pagination ul li .active{
            z-index: 2;
            color: #fff;
            background-color: #d74b4b;
            border-color: #af2727;
            cursor: default;
            background-image: none;
            background-repeat: no-repeat;
            -ms-filter: none;
            filter: none;
    }
    #konten-table .row .col6 .pagination ul li .active:hover{
            z-index: 2;
            color: #fff;
            background-color: #d74b4b;
            border-color: #af2727;
            cursor: default;
            background-image: none;
            background-repeat: no-repeat;
            -ms-filter: none;
            filter: none;
    }
    #konten-table .row .col12{width:100%}
    #konten-table .row .col12 .table-border{border: 1px solid #ddd !important;width: 100%;}
    #konten-table .row .col12 .panel-table{padding-left:15px;padding-right:15px;padding-top: 30px;}
    #konten-table .row .col12 .panel-table table{border-collapse: collapse;font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;}
    #konten-table .row .col12 .panel-table table tbody .tr{background-color:#f2f2f2; color:#444;font-weight: 800;}
    .btn{
            background-repeat: no-repeat;
            -ms-filter: none;
            filter: none;
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline:none;
    }
    .btn-primary{
            color: #ffffff;
            background-color: #d74b4b;
            border-color: #cc2d2d;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
            outline:none;
    }
    .btn-primary:hover{
            background-color: #bb2a2a;
            background-position: 0 -15px;
            border-color: #b32828;
            color: #ffffff;
            outline:none;
    }
    .btn-secondary{
            color: #ffffff;
            background-color: #6685a4;
            border-color: #49627a;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .btn-secondary:hover{
            background-color: #4d6781;
            background-position: 0 -15px;
            border-color: #49627a;
            color: #ffffff;
    }
    .btn-xs{
            padding: 4px 6px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
            outline:none;
    }
     
     
    /* HEADER */
    #header-panel{
            padding-left: 15px;
            *margin: -25px -15px 15px;
            color: #fff;
            background-color: #2f4354;
            border-bottom: 1px solid #141c23;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
    }
    #header-panel img{width: 260px;height: 50px;}
     
    /* FONTS */
    @font-face{font-family:quicksand;src:url(../fonts/quicksand.html);src:url(../fonts/quicksandd41d.html?#iefix) format("embedded-opentype"),url(../fonts/quicksand-2.html) format("woff"),url(../fonts/quicksand-3.html) format("truetype"),url(../fonts/quicksand-4.html#svgFontName) format("svg")}
    @font-face{font-family:'quicksand regular';src:url(../fonts/quicksand-regular.eot);src: url(../fonts/quicksand-regulard41d.eot) format("embedded-opentype"),url(../fonts/quicksand-regular.woff) format("woff"),url(../fonts/quicksand-regular.ttf) format("truetype"),url(../fonts/quicksand-regular.svg#svgFontName) format("svg")}
    @font-face{font-family:'eras light';src: url(../fonts/eras.html) format("truetype");font-weight:400;font-style:normal}
    @font-face{font-family:fontello;src:url(../fonts/fontello644e.html?14587781);src:url(../fonts/fontello644e.html?14587781#iefix) format("embedded-opentype"),url(../fonts/fontello644e-2.html?14587781) format("woff"),url(../fonts/fontello644e-3.html?14587781) format("truetype"),url(../fonts/fontello644e-4.html?14587781#fontello) format("svg");font-weight:400;font-style:normal}
     
    /* INPUT, MODAL AND ALERT STYLE */
    .alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    .alert-heading {
    color: inherit;
    }
    .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
    }
    .alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    }
    @-webkit-keyframes loading{from{max-width:0}}
    @-moz-keyframes loading{from{max-width:0}}
    @-o-keyframes loading{from{max-width:0}}
    @keyframes loading{from{max-width:0}}
    .modal{background:#fff;position:fixed;top:0;bottom:0;left:0;right:0;z-index:9999999}
    .modal h1{
            position:absolute;
            left:42%;
            top:50%;
            margin-top:-15px;
            margin-left:-125px;
            font-size:30px;
            text-align:center;
            color:rgba(0,0,0,.2)
    }
    .modal h1:before{
            content:attr(data-content);
            position:absolute;
            overflow:hidden;
            color:#000;
            max-width:100%;
            -webkit-animation:loading 5s;
            -moz-animation:loading 5s;
            -o-animation:loading 5s;
            -ms-animation:loading 5s;
            animation:loading 5s;
    }
     
    /* MENU NAVIGATION */
    .panel-default{width: 86px;text-align: center;}
    .panel-sekilasAPDP{width: 95px;text-align: center;}
    .panel-operating{width: 140px;text-align: center;}
    .panel-penyaluran{width: 100px;text-align: center;}
    .panel-logout{width: 87px;text-align: center;border: none !important;}
    .actived{background: #d74b4b !important;color: #FFF !important;}
    .panel-sub-sekilasAPDP{width: 150px !important;}
    .panel-sub-operating{width: 150px !important;}
    .panel-sub-penyaluran{width: 150px !important;}
    .panel-sub-scadatel{width: 175px !important;}
    .panel-sub-master{width: 170px !important;}
     
    /* FOOTER */
    #footer-panel{
            padding: 10px 10px 20px 10px;
            text-align: right;
            color: #fff;
            background-color: #2f4354;
            border-top: 1px solid #ddd;
    }
     
    /* POPUP STYLE */
     
    .popup-background{
            opacity: 0.9;
            cursor: auto;
            display: block;
            background: #121212;
            border: 5px solid #000000;
            background-image: url(../image/overlay.png);
            background-repeat: repeat;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9999;
            overflow: hidden;
            position: fixed;
            width: 100%;
            height: 100%;  
    }
     
    .popup-border{
            padding-bottom: 0px;
            padding-right: 0px;
            top: 0px;
            bottom:20px !important;
            left: 250px !important;
            position: absolute;
            width: 700px;
            height: 370px;
            opacity: 1;
            margin-top:70px;
    }
     
    .popup-wrapper{
            height: 370px;
            width: 700px;
    }
     
    .popup-content{
            float: left;
            width: 700px;
            height: 370px;
    }
     
    .popup-content-background{
            background-color: #fff;
            width: 700px;
            overflow: auto;
            height: 370px;
            background-image: url(../image/bg-diagonal.png);
    }
     
    .popup-isi-content{
            margin: 0px auto;
            font-size: 12px;
            font-family: Arial;
            color: #4F5155;
            margin: 19px;
    }
     
    .popup-border-content{
            margin: 19px;
            border: 1px solid #D0D0D0;
            -webkit-box-shadow: 0 0 8px #D0D0D0;
            background-color: #FFFFFF;
    }
     
    .popup-border-content h1{
            color: #444;
            background-color: transparent;
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 5px 0;
            padding: 8px 15px 5px 40px;
            border-bottom: 1px solid #ccc;
            background-image: url(../image/icn_edit_article.png);
            background-position: 15px;
            background-repeat: no-repeat;
    }
     
    .popup-border2{
            padding-bottom: 0px;
            padding-right: 0px;
            top: 0px;
            bottom:20px !important;
            left: 250px !important;
            position: absolute;
            width: 700px;
            height: 375px;
            opacity: 1;
            margin-top:70px;
    }
     
    .popup-wrapper2{
            height: 375px;
            width: 700px;
    }
     
    .popup-content2{
            float: left;
            width: 700px;
            height: 375px;
    }
     
    .popup-content-background2{
            background-color: #fff;
            width: 700px;
            overflow: auto;
            height: 375px;
            background-image: url(../image/bg-diagonal.png);
    }
     
    /* ELEMENT STYLE*/
     
    ::selection{ background-color: #E13300; color: white; }
    ::moz-selection{ background-color: #E13300; color: white; }
    ::webkit-selection{ background-color: #E13300; color: white; }
     
    body {
      background-color: #fff;
      margin:0px auto;
      font-size:12px;
      font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
      color: #4F5155;
      width:960px;
      //background-image: url(../image/bg-diagonal.png);
      background-image: url(../image/pln2.jpg);
    }
     
    a {color: #FF3300;background-color: transparent;font-weight: normal;}
     
    h1 {
      color: #444;
      background-color: transparent;
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 5px 0;
      padding: 14px 15px 0px 15px;
    }
     
    h2 {
      color: #444;
      background-color: transparent;
      border-bottom: 1px solid #D0D0D0;
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 14px 0;
      padding: 0px 15px 10px 15px;
    }
     
    h3 {
      color: #444;
      background-color: transparent;
      border-bottom: 1px dotted #D0D0D0;
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 14px 0;
      padding: 0px 15px 10px 15px;
    }
     
    h6 {
      color: #444;
      background-color: transparent;
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 14px 0;
      padding: 0px 15px 0px 25px;
      background-image:url(../image/icn_folder.png);
      background-position:left top;
      background-repeat:no-repeat;
    }
     
    #bg-line {
      font-size: 12px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      display: block;
      margin: 14px 0 14px 0;
      padding: 12px 10px 12px 10px;
    }
     
    .input-teks-login {
      font-size: 12px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      color: #002166;
      display: block;
      margin: 14px 0 14px 0;
      padding: 12px 10px 12px 10px;
      width:95%;
    }
     
    .input-read-only {
      background-image:url(../image/bg-menu.jpg);
      //background-image:url(../image/choice/bck_error.png);
      background-position:center;
      background-repeat:repeat-x;
      border: 1px solid #D0D0D0;
      padding: 5px;
      font-size:12px;
      font-family:Arial;
      outline: none;
    }
     
    .link {
      background-color: #000;
      padding: 5px 8px 5px 8px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-decoration:none;
      color:#FFFFFF;
      float:left;
    }
     
    .link:hover {
      background-color: #FF3300;
      padding: 5px 8px 5px 8px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-decoration:none;
      float:left;
    }
     
    .link2 {
      background-color: #000;
      padding: 5px 8px 5px 8px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-decoration:none;
      color:#FFFFFF;
    }
     
    .link2:hover {
      background-color: #FF3300;
      padding: 5px 8px 5px 8px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-decoration:none;
    }
     
    .btn-kirim-login {
      font-size: 12px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      padding: 9px 10px 9px 10px;
      background-image:url(../image/bg-menu.gif);
      background-repeat:repeat-x;
      background-position:center;
      color:#FFFFFF;
      cursor:pointer;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
     
    .btn-add {
      font-size: 11px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      padding: 5px 5px 5px 29px;
      background-image:url(../image/icn_new_article.png);
      background-repeat:no-repeat;
      background-position:7px;
      color:#666;
      cursor:pointer;
      -moz-border-radius: 4px;
      border-radius: 4px;
      max-width:130px;
      margin:2px;
    }
     
    .btn-edit {
      font-size: 11px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      padding: 5px 5px 5px 29px;
      background-image:url(../image/icn_edit_article.png);
      background-repeat:no-repeat;
      background-position:7px;
      color:#666;
      cursor:pointer;
      -moz-border-radius: 4px;
      border-radius: 4px;
      max-width:100px;
      margin:2px;
    }
     
    .btn-delete {
      font-size: 11px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      padding: 5px 5px 5px 29px;
      background-image:url(../image/icn_trash.png);
      background-repeat:no-repeat;
      background-position:7px;
      color:#666;
      cursor:pointer;
      -moz-border-radius: 4px;
      border-radius: 4px;
      max-width:100px;
      margin:2px;
    }
     
    .btn-print {
      font-size: 11px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      padding: 5px 5px 5px 29px;
      background-image:url(../image/icn_categories.png);
      background-repeat:no-repeat;
      background-position:7px;
      color:#666;
      cursor:pointer;
      -moz-border-radius: 4px;
      border-radius: 4px;
      max-width:100px;
      float:left;
      margin:2px;
    }
     
    .record a{text-decoration:none;}
    #body{
            font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
            font-weight: 400;
            font-size: 14px;
    }
    #body h5{margin:0px; padding:0px;}
    #body h4{margin:0px 0px 10px 0px; padding:0px;}
     
    p.footer{
      text-align: right;
      font-size: 14px;
      border-top: 1px solid #D0D0D0;
      padding: 10px 10px 10px 10px;
      margin: 20px 0 0 0;
      line-height:18px;
      border-bottom: 5px solid #2f4354;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
     
    #container{
      margin: 40px;
      *border: 1px solid #DDD;
      box-shadow: 0 1px 1px rgba(0,0,0,.1);
      border-radius: 6px;
      background-color: #FFFFFF;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
     
    #menu{
      background-color: #E0E0E0;
      color: #999;
      border-bottom: 1px solid #DADADA;
      padding:0px;
      margin:0px auto;
      font-size:11px;
    }
     
    #menu ul{list-style:none; margin:0px auto; padding:0px;}
    #menu li{float:left;text-transform: uppercase;border-right: 1px solid #D3CCCC;}
    #menu li a{text-decoration:none; *color:#fff; color: #3F3333;}
    #menu li a:hover{text-decoration:none; color:#000;}
    #list{padding:5px;}
    #list ul{ margin:5px 10px 5px 30px; padding:0px;}
    #list li{padding:5px 15px 5px 15px;}
    .line-dot { clear: both; width:100%; height: 10px; border-bottom:1px dashed #333333; }
    .cleaner_h0 { clear: both; width:100%; height: 0px; }
    .cleaner_h5 { clear: both; width:100%; height: 5px; }
    .cleaner_h3 { clear: both; width:100%; height: 3px; }
    .cleaner_h10 { clear: both; width:100%; height: 10px; }
    .cleaner_h20 { clear: both; width:100%; height: 20px; }
    .cleaner_h30 { clear: both; width:100%; height: 30px; }
    .cleaner_h40 { clear: both; width:100%; height: 40px; }
    .cleaner_h50 { clear: both; width:100%; height: 50px; }
    .cleaner_h60 { clear: both; width:100%; height: 60px; }
     
    .pagingpage-nomor{
      background-color: #fff;
      text-align:center;
      width:20px;
      padding: 3px;
      border: 1px solid #CCCCCC;
      float:left;
      margin:1px;
    }
    .pagingpage-nomor a{text-decoration:none;}
    .pagingpage-nomor a:hover{text-decoration:underline;}
     
    .pagingpage{
      background-color: #fff;
      padding: 3px;
      border: 1px solid #CCCCCC;
      float:left;
      margin:1px;
    }
    .pagingpage a{text-decoration:none;}
    .pagingpage a:hover{text-decoration:underline;}
     
    /* STYLE */
     
    #i2v-overlay {
      position: absolute;
      bottom: 30px;
      width: 100%;
      height: 100px;
      background-color: transparent;
      text-align: center;
    }
    #i2v-overlay .i2v-poweredBy, #i2v-overlay .i2v-close {
      position: absolute;
      bottom: -19px;
      right: 0;
      padding: 2px;
      background-color: rgba(255, 255, 255, 0.4);
      font-size: 11px;
      font-family: Calibri, Arial;
      text-align: right;
      color: #999999;
    }
    #i2v-overlay .i2v-close { top: 0; bottom: auto; font-weight: bold; font-size: 13px; }
    #i2v-overlay .i2v-close:hover { color: #bf0000; cursor: pointer; }
    #i2v-overlay .message {
      font-family: Calibri, Arial;
      color: #c7c7c7;
      font-size: 13px;
      font-weight: bold;
      margin-top: 38px;
      background-color: #000000;
      padding: 5px;
    }
    #i2v-overlay .loader { background-color: rgba(0, 0, 0, 0.6); height: 100%; width: 100%; }
    #i2v-overlay .loader span { display: block;color: #ffffff; font-family: Calibri, Arial; font-size: 13px; }
    #i2v-overlay .loader img { margin-top: 32px; }
    #i2v-overlay .videos {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 9px auto;
      text-align: center;
      list-style: none;
      opacity: 0.65;
    }
    #i2v-overlay .videos.vis { opacity: 1; }
    #i2v-overlay .videos > li {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin: 9px 5px;
      width: 140px;
      text-align: left;
      cursor: pointer;
    }
    #i2v-overlay .videos > li img { width: 100%; vertical-align: middle; }
    #i2v-overlay .videos > li .overlay {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      font-family: Calibri, Arial;
      font-size: 10px;
      width: 100%;
      height: 100%;
      z-index: 99999;
    }
    #i2v-overlay .videos > li .overlay h1 {
      position: absolute;
      font-size: 11px;
      font-weight: normal;
      margin: 0;
      color: #ffffff;
      top: 5px;
      left: 5px;
      line-height: 13px;
    }
    #i2v-overlay .videos > li .overlay .length { position: absolute; bottom: 5px; right: 5px; color: #a6a6a6; }
    #i2v-overlay .videos > li .overlay .views { position: absolute; bottom: 5px; left: 5px; color: #a6a6a6; }
    #i2v-overlay .videos > li .overlay .author { position: absolute; bottom: 20px; left: 5px; color: #f2f2f2; }
    #i2v-overlay .videos > li .under {
      background-color: #ffffff;
      font-size: 12px;
      width: 100%;
      height: 100%;
      z-index: 99999;
      text-align: center;
      margin-top: 4px;
    }
    #i2v-overlay .videos > li .under h1 {
      font-size: 13px;
      font-weight: normal;
      margin: 0;
      color: #004b91;
      top: 5px;
      left: 5px;
      line-height: 16px;
    }
    #i2v-overlay .videos > li .under .length { bottom: 5px; color: #44a5ff; }
    #i2v-overlay .videos > li .under .views { bottom: 5px;color: #44a5ff; }
    #i2v-overlay .videos > li .under .author { bottom: 20px;color: #0058ab; }
    .i2v-popup {
      background-color: #000000;
      border: 8px solid #525252;
      box-shadow: rgba(255, 255, 255, 0.6) 0 0 100px;
      border-radius: 5px;
      position: fixed;
      z-index: 9999;
    }
    .i2v-popup iframe { width: 100%; height: 100%; border: 0; }
    .i2v-modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 9998;
    }
     
    /* MENU */
     
    .suckertreemenu ul{margin: 0; padding: 0; list-style-type: none; font-size:12px; z-index:2;}
     
    /*Top level list items*/
    .suckertreemenu ul li{position: relative; display: inline; float: left;}
     
    /*Top level menu link items style*/
    .suckertreemenu ul li a{
    display: block;
    font-size:11px;
    text-decoration: none;
    padding: 10px 0px;
    color:#000;
    }
    .suckertreemenu ul li a:hover{background: #d74b4b;color: #FFF !important;}
     
    /*1st sub level menu*/
    .suckertreemenu ul li ul{left: 0; position: absolute; display: block; visibility: hidden;}
     
    /*Sub level menu list items (undo style from Top level List Items)*/
    .suckertreemenu ul li ul li{
    display: list-item;
    float: none;
    }
     
    /*All subsequent sub menu levels offset after 1st level sub menu */
    .suckertreemenu ul li ul li ul{
    top:0;
    border-style:none;
    margin:0px;
    }
     
    /* Sub level menu links style */
    .suckertreemenu ul li ul li a{
    display: block;
    width: 98px; /*width of sub menu levels*/
    text-decoration: none;
    border-right:none;
    text-align:left;
    background: #EEEEEE;
    padding:10px 10px 10px 11px;
    border-right:1px solid #DDD;
    border-left:1px solid #DDD;
    border-bottom:1px solid #DDD;
    }
     
     
    .suckertreemenu ul li a:hover{
    background: #d74b4b;
    color: #FFF !important;
    }
     
    * html p#iepara{}
           
    /* Holly Hack for IE \*/
    * html .suckertreemenu ul li { float: left; height: 1%; }
    * html .suckertreemenu ul li a { height: 1%; }
    /* End */

